@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;300;400;500&display=swap');
body {
    padding: 20px;
    background: #dbe6ff;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}
.iframe-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
iframe {
    background: aliceblue;
    box-shadow: 0 1px 15px #adadad;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-right: 20px;
}
iframe:hover {
    box-shadow: 0 1px 15px #787878;
}