@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;300;400;500&display=swap');
body {
    padding: 20px;
    background: #dbe6ff;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}