@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;300;400;500&display=swap');
body {
    padding: 20px;
    background: #dbe6ff;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}
.iframe-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
iframe {
    background: #ffffff87;
    padding: 20px;
    border: 2px solid #fff;
    transition: .2s ease-in-out;
    border-radius: 5px;
    margin: 0 20px 20px 0;
    height: 180px;
}
iframe:hover {
    box-shadow: 0 0 15px #8ec3f1;
    margin: -2px 20px 22px 0;
}